{% extends "sa/base.html" %}
{% block title %}foodlist{% endblock %}
{% block content %}
<div class="container mt-5">
	<div class="container text-center">
		<div class="table table-borderless">
			<table>
				<tr>
					<th>Food Name</th>
					<th>Prize</th>
				</tr>
				<tr>
					<td><a href="#">Lemon Chicken<a></td>
				    <td>$122.00</td>
				</tr>
				<tr>
					<td><a href="#">Chettinad Fish Fry</a></td>
					<td>$123.00</td>
				</tr>
				<tr>
					<td><a href="#">Guilt-Free Galouti Kebab  </a></td>
					<td>$124.00</td>
				</tr>
			</table>
		</div>
	</div>
</div>
	
<!-- 	<a href="#">Guilt-Free Galouti Kebab  </a><br/><br/>
	<a href="#">Dum Aloo Lakhnawi</a><br/><br/>
	<a href="#">Keema Biryani</a><br/><br/>
	<a href="#">Dum Paneer Kali Mirch</a><br/><br/>
	<a href="#">Shahi Egg Curry</a><br/><br/>
	<a href="#"> Malabari Prawn Curry</a><br/><br/>
	<a href="#">Makhmali Kofte</a><br/><br/>
</div>
</div> -->
{% endblock %}