{% extends 'sa/base.html' %}
{% block title %} Data {% endblock %}
{% block content %}
{% load static %}
		<div style="background-image: linear-gradient(white,skyblue,skyblue)">
<h1 class="display-4 ml-3 text-xs-center m-y-3 text-muted" id="speakers">North Indian Veg Items</h1>
<br/>
<div class="row ml-5 mr-5">
  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Aloo gobi.jpg' %}" 
    	style="height:150px"/>
      <div class="card-block">
        <h4 class="card-title ml-2">Aloo gobi</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Aloo tikki.jpg' %}" 
    	style="height:150px"/>
      <div class="card-block">
        <h4 class="card-title">Aloo tikki</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>
 
         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4" >
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Aloo matar.jpg' %}"
    	style="height:150px"/>
      <div class="card-block">
        <h4 class="card-title">Aloo matar</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Aloo methi.jpg' %}"
    style="height:140px" />
      <div class="card-block">
        <h4 class="card-title">Aloo methi</h4>

       <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Aloo shimla mirch.jpg' %}" style="height:140px"/>
      <div class="card-block">
        <h4 class="card-title">Aloo shimla mirch</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Baati.jpg' %}"style="height:140px"/>
      <div class="card-block">
        <h4 class="card-title">Baati</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Chana masala.jpg' %}" style="height:110px"/>
      <div class="card-block">
        <h4 class="card-title">Chana masalaChana masala</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/> 
      </div>
    </div>
  </div>
  <br/>
  <br/>


  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Poha.jpg' %}"style="height:135px"/>
      <div class="card-block">
        <h4 class="card-title">Poha</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
          Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Kadai paneer.jpg' %}"style="height:135px"/>
      <div class="card-block">
        <h4 class="card-title">Kadai paneer</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
          Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>
</div>
<br/>
  <br/>






  <a href="{% url 'chane' %}" class="btn btn-primary bg-dark text-center stretched-link mb-5" style="margin-left:100px">Back</a>
</p>
</div>
		{% endblock %}
