{% extends 'sa/base.html' %}
{% block title %} Data {% endblock %}
{% block content %}
{% load static %}
<div style="background-image: linear-gradient(white,skyblue,skyblue)">
<h1 class="display-4 ml-3 text-xs-center m-y-3 text-muted" id="speakers">North Indian Non-veg Items</h1>
<br/>
<div class="row ml-5 mr-5">
  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/08_0.jpg' %}" />
      <div class="card-block">
        <h4 class="card-title ml-2">Chicken Khima Palak</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Murgh musallam.jpg' %}" style="height:135px" />
      <div class="card-block">
        <h4 class="card-title">Murgh musallam</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>
 
         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4" >
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Fish-Kabab.jpg' %}"/>
      <div class="card-block">
        <h4 class="card-title">Fish-Kabab</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Mutton Paya.jpg' %}" />
      <div class="card-block">
        <h4 class="card-title">Mutton Paya</h4>

       <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Anda Bhurji Oats.jpg' %}"/>
      <div class="card-block">
        <h4 class="card-title">Anda Bhurji Oats</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Chicken Tikka.jpg' %}"style="height:135px"/>
      <div class="card-block">
        <h4 class="card-title">Chicken Tikka</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Biryani1.jpg' %}" style="height:135px"/>
      <div class="card-block">
        <h4 class="card-title">Biryani</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/> 
      </div>
    </div>
  </div>
  <br/>
  <br/>


  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Spicy Chicken Masala.jpg' %}"style="height:135px"/>
      <div class="card-block">
        <h4 class="card-title">Spicy Chicken Masala</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
          Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Chicken Chettinad.jpg' %}"style="height:135px"/>
      <div class="card-block">
        <h4 class="card-title">Chicken Chettinad</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
          Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>
</div>
<br/>
  <br/>






  <a href="{% url 'chane' %}" class="btn btn-primary bg-dark text-center stretched-link mb-5" style="margin-left:100px">Back</a>
</p>
</div>

{% endblock %}