{% extends 'sa/base.html' %}
{% block title %} Data {% endblock %}
{% block content %}
{% load static %}



<div style="background-image: linear-gradient(white,skyblue,skyblue)">
<h1 class="display-4 ml-3 text-xs-center m-y-3 text-muted" id="speakers">South Indian Non-veg Items</h1>
<br/>
<div class="row ml-5 mr-5">
  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Nandu omelette.jpg' %}" style="height:135px"/>
      <div class="card-block">
        <h4 class="card-title ml-2">Nandu omelette</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Kerala_Beef_Fry.jpg' %}" style="height:135px" />
      <div class="card-block">
        <h4 class="card-title">Kerala_Beef_Fry</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>
 
         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4" >
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Chicken 65.jpg' %}"style="height:135px"/>
      <div class="card-block">
        <h4 class="card-title">Chicken 65</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Biryani.jpg' %}" />
      <div class="card-block">
        <h4 class="card-title">Biryani</h4>

       <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Grilled Chicken Escalope with Fresh Salsa.jpg' %}"style="height:125px"/>
      <div class="card-block">
        <h4 class="card-title">Grilled Chicken Escalope with Fresh Salsa</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Mutton Korma.jpg' %}"style="height:150px"/>
      <div class="card-block">
        <h4 class="card-title">Mutton Korma</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Biryani1.jpg' %}" style="height:135px"/>
      <div class="card-block">
        <h4 class="card-title">Biryani</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/> 
      </div>
    </div>
  </div>
  <br/>
  <br/>


  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Pina Colada Pork Ribs.jpg' %}"style="height:135px"/>
      <div class="card-block">
        <h4 class="card-title">Pina Colada Pork Ribs</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
          Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Tandoori Lamb Chops.jpg' %}"style="height:135px"/>
      <div class="card-block">
        <h4 class="card-title">Tandoori Lamb Chops</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
          Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>
</div>
<br/>
  <br/>






  <a href="{% url 'south' %}" class="btn btn-primary bg-dark text-center stretched-link mb-5" style="margin-left:100px">Back</a>
</p>
</div>
{% endblock %}