{% extends 'sa/base.html' %}
{% block title %} Data {% endblock %}
{% block content %}
{% load static %}








		<div style="background-image: linear-gradient(white,skyblue,skyblue)">
<h1 class="display-4 ml-3 text-xs-center m-y-3 text-muted" id="speakers">South Indian Veg Items</h1>
<br/>
<div class="row ml-5 mr-5">
  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Attu.jpg' %}" 
    	style="height:150px"/>
      <div class="card-block">
        <h4 class="card-title ml-2">Attu</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Avial.jpg' %}" 
    	style="height:150px"/>
      <div class="card-block">
        <h4 class="card-title">Avial</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>
 
         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4" >
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Halwa.jpg' %}"
    	style="height:150px"/>
      <div class="card-block">
        <h4 class="card-title">Halwa</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Bisi bele bath.jpg' %}"
    style="height:140px" />
      <div class="card-block">
        <h4 class="card-title">Bisi bele bath</h4>

       <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/idle.jpg' %}" style="height:140px"/>
      <div class="card-block">
        <h4 class="card-title">Idli</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Goli bajje.jpg' %}"style="height:140px"/>
      <div class="card-block">
        <h4 class="card-title">Goli bajje</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Kanji.jpg' %}" style="height:130px"/>
      <div class="card-block">
        <h4 class="card-title">Kanji</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
        	Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/> 
      </div>
    </div>
  </div>
  <br/>
  <br/>


  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Pongal.jpg' %}"style="height:135px"/>
      <div class="card-block">
        <h4 class="card-title">Pongal</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
          Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="col-md-6 col-lg-4 mt-4">
    <div class="card"><img alt="Card image cap" class="card-img-top img-fluid" src="{% static 'images/Sambar.jpg' %}"style="height:135px"/>
      <div class="card-block">
        <h4 class="card-title">Sambar</h4>

        <p class="card-text ml-2">Price : $100.00<br/>
             Quantity :2 <br/>
          Category : Non-veg<br/></p>

         <a href="#" class="btn btn-primary stretched-link ml-2">Add to cart</a>
         <br/>
         <br/>
      </div>
    </div>
  </div>
  <br/>
  <br/>
</div>
<br/>
  <br/>






  <a href="{% url 'chane' %}" class="btn btn-primary bg-dark text-center stretched-link mb-5" style="margin-left:100px">Back</a>
</p>
</div>
{% endblock %}
