{% extends 'sa/base.html' %}
{% block title %} Entire worklog Details{% endblock %}
{% block content %}
<div class="container">
	{% if messages %}
	{% for k in messages %}
	<div class="alert alert-{{k.tags}} alert-dismissible">
  		<button type="button" class="close" data-dismiss="alert">&times;</button>{{k}}
  	</div>
	{% endfor %}
	{% endif %}
	<div class="card col-md-11 mt-2 mx-auto">
		<h2 class="bg-warning text-white text-center mx-2 mt-2 p-2 border rounded">South India Dishes</h2>
		<div class="card-body">
			<a href="{% url 'southw' %}" class="btn btn-sm btn-success p-2" style="float:right;padding:3px"> Veg </a>
			<a href="{% url 'southwa' %}" class="btn btn-sm btn-success p-2" style="float:right;margin-right:10px;"> Non-Veg </a>
			<table class="table mt-2 table-hover">
				<tr class="bg-dark text-white border rounded">
					<th>Sno</th>
					<th>Item name</th>
					<th>Quality</th>
					<th>Category</th>
					<th>price</th>
					<th>Actions</th>
				</tr>
				<!-- {% for m in y %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{m.item}}</td>
					<td>{{m.quality}}</td>
					<td>{{m.category}}</td>
					<td>{{m.price}}</td>
					<td><a href="{% url 'det' %}" class="btn btn-danger">Delete</a></td>
				</tr>
				{% endfor %} -->
			</table>
		</div>
	</div>
</div>
{% endblock %}